* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ================= MAIN WRAPPER ================= */
.login-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

/* ================= LEFT IMAGE ================= */
.left-image-section {
  width: 100%;
  height: 100%;
}

.left-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= RIGHT FORM ================= */
.right-form-section {
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* ================= FORM CARD ================= */
.form-container {
  width: 100%;
  max-width: 420px;
  background-color: #f3f4f6;
  padding: 35px;
  border-radius: 30px;
  text-align: center;
}

/* ================= TEXT ================= */
.brand-title {
  font-size: 26px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

/* ================= FORM ELEMENTS ================= */
.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* ================= BUTTON ================= */
.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to right, #2563eb, #9333ea);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:hover {
  background: linear-gradient(to right, #2563eb, #9333ea);
}

/* ================= LINKS ================= */
.forgot {
  margin-top: 12px;
  font-size: 13px;
  cursor: pointer;
}

.signup {
  margin-top: 8px;
  font-size: 13px;
}

.signup span {
  color:#9333ea ;

  cursor: pointer;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 992px) {
  .login-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 40vh auto;
  }

  .left-image-section {
    height: 40vh;
  }
}

@media (max-width: 576px) {
  .form-container {
    padding: 22px;
    border-radius: 20px;
  }
}

.signup a {
  text-decoration: none;
}

.signup span {
  color: #2f80ed;
  cursor: pointer;
  font-weight: 500;
}

.forgot a {
  text-decoration: none; /* removes underline */
}

.forgot span {
  color: #2f80ed;        /* blue color */
  cursor: pointer;       /* shows pointer on hover */
  font-weight: 500;      /* medium bold */
  transition: color 0.3s; /* smooth hover effect */
}

.forgot span:hover {
  color: #1c5bbf;        /* darker blue on hover */
}
.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
}
